*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #008e97;
  color: white;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 10%;
}

.card div:first-child {
  font-size: 2rem; /* "Get ready" size */
}

.card div:last-child {
  font-size: 5rem; /* countdown size */
  margin-top: 0.5rem;
}
.game-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5%;
}

h1 {
  font-size: 3rem;
  text-shadow: 4px 4px #005778;
}

.deck-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  width: 100%;
  margin: 10%;
}

.deck-list li {
  width: 100%;
}

.timer {
  color: white;
  font-weight: bold;
}
.deck-list article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border: 3px solid #fc4c02;
  box-shadow: 4px 4px #005778;
}

.deck-list article .emoji {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.card {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.navy {
  color: #005778;
}

.results {
  list-style: none;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.correct {
  color: rgb(255, 255, 255);
}

.incorrect {
  color: rgba(255, 255, 255, 0.5);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  border: 0;
  box-shadow: 4px 4px #005778;
  background-color: #e6e6e6;
  border: 3px solid #fc4c02;
  color: black;
}

button:active,
article:active {
  transform: scale(0.98);
}

button:hover {
  cursor: pointer;
}

.countdown {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 3rem;
  text-align: center;
}
